.container {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.modal-content {
  width: 35vw;
  background: white;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.list-item button {
  cursor: pointer;
}

.delete-content {
  padding: 10px;
}

.delete-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.delete-target {
  font-weight: 600;
}

.navbar {
  height: 10vh;
}

.error {
  text-align: center;
  margin-bottom: 10px;
}

.pagination-list {
  display: flex;
  flex-direction: row !important;
  margin-top: 20px;
}

.is-current {
  background: hsl(141, 71%, 48%) !important;
  border: none;
}

table {
  height: 50vh;
  width: 100%;
}

thead {
  border-bottom: 2px solid lightgray;
}

.view-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}
