{% extends 'base.html' %}

{% block content %}
<div class='container is-fluid is-flex is-flex-direction-column is-justify-content-center'>
    <div class='columns is-flex is-justify-content-center'>
        <div class='column is-half card'>
            <form name='register-form' id='register-form' class='is-flex is-flex-direction-column is-justify-content-center card-content'>
                <h1 class='title' style='text-align: center;'>Register</h1>
                <div class='field'>
                    <label for='name'>Name</label>
                    <br />
                    <input type='text' id='name' name='name' class='input' required>
                </div>

                <div class='field'>
                    <label for='email'>Email</label>
                    <br />
                    <input type='text' id='email' name='email' class='input' required>
                </div>
                
                <div class='field'>
                    <label for='password'>Password</label>
                    <br />
                    <input type='password' id='password' name='password' class='input' required>
                </div>

                <span id='register-error' class='error'></span>

                <input type='submit' value='Register' class='button is-primary' />
            </form>
        </div>
    </div>
</div>
{% endblock %}