{% extends 'base.html' %} {% block content %}
<div class="modal edit-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form name="edit-term-form" id="edit-term-form" class="
        is-flex is-flex-direction-column is-justify-content-center
        card-content
      ">
            <div class="field">
                <h2 class="title edit-title" style="text-align: center"></h2>
            </div>
            <div class="field">
                <label for="term-definition">Definition</label>
                <input type="text" id="term-definition" name="term-definition" class="input" required />
            </div>

            <span id="term-edit-error" class="error"></span>

            <input type="submit" value="Save" class="button is-primary save-button" />
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal delete-modal">
    <div class="modal-background"></div>
    <div class="modal-content delete-content">
        <h2 class="subtitle">
            Are you sure you want to delete the following term?
        </h2>
        <p class="delete-target" style="text-align: center"></p>
        <span class="delete-buttons">
            <button class="button is-primary final-delete">Yes</button>
            <button class="button is-danger cancel-delete">No</button>
        </span>
    </div>
    <button class="modal-close is-large delete-close" aria-label="close"></button>
</div>

<div class="
    container
    is-fluid is-flex is-flex-direction-column is-justify-content-center
  ">
    <div class="columns is-flex is-justify-content-center">
        <div class="column is-half card">
            <h1 class="title" style="text-align: center">My Terms</h1>
            {% if (data is defined) and data %}
            <ul class="my-terms-list">
                {% for item in data %}
                <li class="list-item">
                    <span>{{item.term}}: {{item.definition}}</span>
                    <span id="{{item.term}}">
                        <button class="button is-primary edit-term">
                            <i class="far fa-edit"></i>
                        </button>
                        <button class="button is-danger delete-term">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p style="text-align: center">
                You current don't have any created terms.
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}